[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Slagle (slagle)
	owner = group wrangling-core
[access "refs/for/refs/*"]
	read = group user/James Slagle (slagle)
	read = group wrangling-core
	push = group rdo-management
	push = group user/James Slagle (slagle)
	push = group wrangling-core
	label-Code-Review = -2..+2 group user/James Slagle (slagle)
	label-Code-Review = -2..+2 group wrangling-core
	label-Verified = -1..+1 group user/James Slagle (slagle)
	label-Verified = -1..+1 group user/rdo-ci-centos
	label-Verified = -1..+1 group wrangling-core
	rebase = group user/James Slagle (slagle)
	rebase = group wrangling-core
	removeReviewer = group user/James Slagle (slagle)
	removeReviewer = group wrangling-core
	submit = group user/James Slagle (slagle)
	submit = group wrangling-core
	pushMerge = group rdo-management
	pushMerge = group wrangling-core
[access "refs/heads/*"]
	read = group user/James Slagle (slagle)
	read = group wrangling-core
	create = group user/James Slagle (slagle)
	create = group wrangling-core
	push = +force group user/James Slagle (slagle)
	push = group wrangling-core
	pushMerge = group user/James Slagle (slagle)
	pushMerge = group wrangling-core
[access "refs/tags/*"]
	push = +force group user/James Slagle (slagle)
	push = group wrangling-core
	pushTag = group user/James Slagle (slagle)
	pushTag = group wrangling-core
	pushSignedTag = group user/James Slagle (slagle)
	pushSignedTag = group wrangling-core
[submit]
